<nav id="sidebar-nav-links">
  {% if site.sidebar_home_link %}
    <a class="home-link {% if page.url == '/' %} active{% endif %}"
        href="{{ site.baseurl }}/">Home</a>
  {% endif %}

  {% if site.sidebar_about_link %}
    <a class="home-link {% if page.url == '/about/' %} active{% endif %}"
        href="{{ site.abouturl }}/">About</a>
  {% endif %}

  {% if site.sidebar_portofolio_link %}
    <a class="home-link {% if page.url == '/portofolio/' %} active{% endif %}"
        href="{{ site.portofoliourl }}/">Portofolio</a>
  {% endif %}

  {% if site.sidebar_recent_link %}
    <a class="home-link {% if page.url == '/recent_blogposts/' %} active{% endif %}"
        href="{{ site.blogurl }}/">Recent Blogposts</a>
  {% endif %}

  {% if site.sidebar_repo_link %}
    <a class="home-link {% if page.url == '/repo/' %} active{% endif %}"
        href="https://github.com/ruxandraS/ruxandraS.github.io">Github Project</a>
  {% endif %}

  {% include page-links.html %}

  {% include custom-nav-links.html %}
</nav>
